@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	background: #1a1a1c;
}

header {

	width:100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a { padding: 4px 7px ;
	text-decoration: none;
	color:white;
}

#navbartitle {
	color:white; font-size: 36px; font-weight: bold;
	text-decoration: none; text-transform: uppercase;
}

.navbar {
	display: flex;
	gap:30px;
}

.feed {
	display: flex;
	flex-direction: column; height: 80vh;
	justify-content: center;
	color: white;
	padding: 20px 100px;
}

.feed h1 {
	max-width: 500px; font-size: 36px;
	font-weight: 400;
}

.feed input {
	max-width: 600px; border-radius: 0px; border: 0;
	padding: 15px; margin: 30px 0px; 
}

.feed .input {
	min-width: 500px;
}

.feed .description {
	font-size: 12px; 
}

.feed ul {
	display: flex; gap: 15px; list-style: none; 
}

.feed li {
	border-radius: 20px; border: 1px solid; padding: 4px 10px 4px 10px; font-size: 12px; font-weight: 400;
}

.join {
	border: 1px solid white;
	border-radius: 2px; 
}

.column {
display: flex;
}

img {
	position: fixed;
	bottom: -200px; right:10px; max-width: 600px; height: 800px; z-index: -1;
}

input:focus {
outline: none;
}


.login-section {
	padding: 25px;
	background: #141414; min-width: 500px; min-height: 400px; -webkit-box-shadow:  0 0.25em 1em black; /*#00bf63 */
}

.login-section form {
	margin: 15px 0;
}

.login-section input {
	width: 100%; margin: 5px auto;
	background: gray; color: white;
}

.login-section .btn {
	background: #28a654;
}

.login-section input::placeholder {
	color: #b8b5ae; font-weight: 300;
}